---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    <div class="announcement-box" style="margin-top:30px">
        <h2>Announcements</h2>
        {% include announcements.html %}
    </div>
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    <p>{{ site.message }}</p>

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h2>Previous Offerings</h2>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    <div>
        <div style="width:30%; float: left">
            <h2>Course instructor</h2>
            <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div>
        </div>

        <div style="width:70%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    <p>{{ta.name}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>