{% assign all_events = site.events | concat: site.lectures %}
{% assign all_events = all_events | concat: site.assignments %}

{% assign events_to_show = "" | split: "" %}
{% for e in all_events %}
    {% unless e.hide_from_announcments %}
        {% assign events_to_show = events_to_show | push: e %}
    {% endunless %}
{% endfor %}

{% assign all_events = events_to_show | concat: site.announcements %}
{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
<h2>Updates</h2>
<ul>
    {% for n in all_events_sorted limit:7 %}
    <li class="no-p-margin">
        {% if n.type %}
            {% if n.type == 'lecture' %}
                New Lecture is up: {{ n.title }}
                {% include lecture_links.html lecture=n %}
            {% elsif n.type == 'assignment' %}
                New Assignment released: [<a href="{{ n.url | prepend: site.baseurl }}">{{ n.title }}</a>]
            {% else%}
                {{ n.description }}
            {% endif %}
        {% else %}
        {{ n.content }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
</div>