<footer class="site-footer">

  <div class="wrapper">

<!--     <h2 class="footer-heading">{{ site.schoolname }}</h2> -->
         <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
 

         <p class="text">
{{ site.address | newline_to_br  }}
      </div>

      <div class="footer-col  footer-col-2">
       <ul class="social-media-list">
     

          {% if site.github_username %}

{% endif %}

          {% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fab fa-twitter" style="color:gray"></i> {{ site.twitter_username }}
    </a>
  </li>
{% endif %}

          {% if site.google_scholar_id %}
  <li>
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
      <i class="ai ai-google-scholar" style="color:gray"></i> {{ site.google_scholar_id }}
    </a>
  </li>
{% endif %}

          {% if site.orcid_id %}
  <li>
    <a href="https://orcid.org/{{ site.orcid_id }}">
      <i class="ai ai-orcid" style="color:gray"></i> {{ site.orcid_id }}
    </a>
  </li>
{% endif %}

          {% if site.schoolurl %}
  <li>
    <a href="{{site.schoolurl}}">
      <i class="fas fa-globe" style="color:gray"></i> {{site.schoolurl |  remove: "https://" | remove: "http://" | remove: "www." }}
    </a>
  </li>
{% endif %}



       
        </ul>
      </div>
    </div>

  </div>

</footer>
