<div class="col col-1" data-label="Event">Lecture</div>
<div class="col col-1-2" data-label="Date">
    {{ include.event.date | date: site.dateformat }}
    <br class="date-spliter"/>{{ include.event.date | date: "%A" }}
</div>
<div class="col col-2" data-label="Description">
    {{ include.event.title }}
    <div class="schedule-lecture-links">
    {% include lecture_links.html lecture=include.event %}
    </div>
</div>
<div class="col col-4 markdown-content" data-label="Course Material">
    <!-- {% if include.event.suggested_readings %}
    <p style="margin-bottom: 2px">Suggested Readings:</p>
    <ul>
        {% for m in include.event.suggested_readings %}
        <li class="raw_li">{% if m.url %}<a href="{{ m.url }}">{{ m.title }}</a>{% else %}{{ m.title }}{%
            endif %}</li>

        {% endfor %}
    </ul>
    {% endif %} -->
    {% if include.event.content != '' %}
    {{ event.content }}
    {% endif %}
</div>